{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 140,
  "importOrder": ["^[./]", "^@assets(.*)$", "^@components(.*)$", "^@hooks(.*)$", "^@types$", "^@utils(.*)$", "^[@]", "^[a-zA-Z]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
